/* Main */
.typing-txt {
  display: none;
}

/* Main */

/* Project */
.project_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_hr {
  border-color: white !important;
}

.carousel-indicators .active {
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-caption .btn {
  text-shadow: none;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity = 50);
  opacity: 0.5;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 50%;
  margin-left: -10px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 50%;
  margin-right: -10px;
}

.carousel-control .icon-next,
.carousel-control .icon-prev {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}

.carousel-control .icon-prev:before {
  content: "\2039";
}

.carousel-control .icon-next:before {
  content: "\203a";
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-left:before {
  content: "\e079";
}

.glyphicon-chevron-right:before {
  content: "\e080";
}

.carousel-control-right {
  right: 0;
  left: auto;
}

.thumbnail-content {
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  border: 1px solid #636e72;
  margin: 5px;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
}

.thumbnail img {
  margin: 0 auto;
  margin-bottom: 20px;
  height: 200px;
  width: 315px;
  border-radius: 5px;
}

.caption p {
  font-size: 13px;
}

.caption h6 {
  margin-bottom: 20px;
}

.thumbnail-btn {
  text-align: end;
}
.thumbnail-btn a {
  font-size: 13px;
}

.item img {
  border-radius: 5px;
}
/* Project */

/* Technology Stack */
.tech_first_column,
.tech_second_column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

.tech-icon div {
  width: 80%;
}
.tech_first_column img,
.tech_second_column img {
  width: 100px;
}

@media screen and (max-width: 375px) {
  .tech_first_column img,
  .tech_second_column img {
    width: 50px;
  }

  .carousel-caption h3 {
    font-size: 1.2rem;
  }
  .carousel-caption p {
    font-size: 13px;
  }
  .svg-inline--fa {
    width: 30px;
  }
  .portfolio-box img {
    height: 250px !important;
    width: 233px;
  }
  .text-uppercase {
    font-size: 2rem !important;
  }
  .caption h4 {
    font-size: 22px !important;
  }
  .contact-content {
    font-size: 14px !important;
  }
  .contact-icon {
    font-size: 12px !important;
  }
  .contact-wrap {
    flex-wrap: unset !important;
  }
  .tech-tool {
    font-size: 14px !important;
  }
  .no-gutters {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: red !important;
  }
  .contact-wrap {
    flex-wrap: unset !important;
  }
  #contact {
    padding-bottom: 300px !important;
  }
  .thumbnail img {
    height: 150px !important;
  }
  .caption h4 {
    font-size: 18px !important;
  }
}
/* Technology Stack */

/* About Me */
.portfolio-box {
  text-align: center;
}

.portfolio-box img {
  height: 350px;
}

/* About Me */
